/*@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

header{
    
    text-align: center;
}

nav{
    text-align: center;
}


.lista{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    background-image: url('../img/Fondo-7.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2{
    color: blanchedalmond;
}

h1{
    font-size: 450%;
}

h2{
    font-size: 300%;
}

p{
    font-size: 200%;
    color: blanchedalmond;
    font-family: "SUSE Mono";
}


.galeria{
    font-size: 100%;
    color: blanchedalmond;
    font-family: "SUSE Mono";

}



.info{
    font-size: 100%;
    color: blanchedalmond;
    font-family: "SUSE Mono";
}


section{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
} 

.contenedor{
    border: solid rgb(181, 181, 202) 3px;
    display: flex; /*Da una disposicion horizontal*/
    flex-direction: row;  /*Tambien puede ser columna : collumn*/
    justify-content: space-around;
    flex-wrap: wrap;  /*Me ayuda a que el cotenido se adapte */ 
    /*height: 290%;*/
    /*padding-left: 10%;
    padding-right: 10%;*/
    padding: 2%;

}

.fosil{
    border: solid rgb(255, 47, 182) 2px;
    width: 30%;
    height: 30%;
}

.foto-fosil{
    border: solid greenyellow 2px;
    width: "auto";
    height: 100%;

}

.paleogeografia{
    border: solid rgb(255, 47, 196) 2px;
    width: 30%;
    height: 30%;

}

.foto-geo{
    border: solid rgb(47, 182, 255) 2px;
    width: "auto";
    height: 100%;


}


.b , .g{
    color: blanchedalmond;
    font-size: 3vw;

}



form{
    font-size: 200%;
    color: blanchedalmond;
}

footer{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

