/*@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

header{
    
    text-align: center;
}

nav{
    text-align: center;
}


.lista{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    background-image: url('../img/Fondo-7.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2{
    color: blanchedalmond;
}

h1{
    font-size: 4.5vw;
}

h2{
    font-size: 3.5vw;
}

p{
    font-size: 2.5vw;
    color: blanchedalmond;
    font-family: "SUSE Mono";
}


.inicio,.galeria , .contacto{
    font-size: 2.5vw;
    color: blanchedalmond;
    font-family: "SUSE Mono";

}



.info{
    font-size: 100%;
    color: blanchedalmond;
    font-family: "SUSE Mono";
}


section{
    border: solid blanchedalmond 2px ;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
} 

.contenedor{
    
    display: flex; /*Da una disposicion horizontal*/
    flex-direction: row;  /*Tambien puede ser columna : collumn*/
    justify-content: space-around;
    flex-wrap: wrap;  /*Me ayuda a que el cotenido se adapte */ 
    gap: 10px;

    

}

.fosil{
    
    width: 350px;
    height: 30%;
}

.foto-fosil{
    
    width: "auto";
    height: 100%;

}

.paleogeografia{
    
    width: 350px;
    height: 30%;

}

.foto-geo{
    
    width: "auto";
    height: 100%;


}


.b , .g{
    color: blanchedalmond;
    font-size: 2.5vw;

}



form{
    font-size: 150%;
    color: blanchedalmond;
}

footer{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

